@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/img/logo-role-top.png" rel="icon" type="imag/x-icon">
   <!-- Google fontes -->
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <title>Rolê Top</title>
</head>
    <body>
        <header>
            <nav>
                <ul> 
                    <li id="bt-mobile-menu">
                            <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                    <img id="logo-barra" src="~/img/logo-role-top.png" alt="Logo roletop" tittle="logo">
                    <li><h1>SEJA BEM VINDO!</h1></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index" , "Home")#a-role-top'>A ROLÊ TOP</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index" , "Home")#eventos-barra'>EVENTOS</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index" , "Home")#galeria-barra'>GALERIA</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index" , "Home")#localizaçao-barra'>LOCALIZAÇÃO</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="">CONTATO</a></li> 
                     @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                    { 
                        <li><a id="bt-login" asp-controller="Cliente" asp-action="Login"> LOGIN</a></li> 
                    }
                    else
                    {
                        <li><a asp-controller="Cliente" asp-action="Logoff">LOGOFF</a></li>
                        <li><a asp-controller="Cliente" asp-action="Usuario">PEDIDOS</a></li>
                    }
                    
                        <!-- logos das redes sociais - abaixo -->
                        <a href="https://www.facebook.com/profile.php?id=100004442131898"> <img id="logo-facebook" src="~/img/facebook-icone-icon.png" alt="Icone facebook"> </a>
                        <a href="https://www.instagram.com/joao_santoskjk/"> <img id="logo-instagram" src="~/img/insta.png" alt="Icone instagram"> </a>
                        <a href="https://gmail.com/mail/help/intl/pt_pt/about.html"> <img id="logo-gmail" src="~/img/ICONE-GMAIL.png" alt="Icone gmail">  </a>
                        <a href=""> <img id="logo-whatsapp" src="~/img/watsh.png" alt="Icone whatsapp"> </a>
                    </ul>
                </nav>

            </header>
            </body>
            @RenderBody()